@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1 {
  text-align: center;
  margin: 0;
  color: rgb(206,0,0);
}

.blueberries {
  background-image: url(../images/blueberries.jpg);
}

.grapes {
  background-image: url(../images/grapes.jpg);
}

.red-currant {
  background-image: url(../images/red-currant.jpg);
}

.blueberries, .grape, .red-currant {
  background-size: cover;
  background-position: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.whitebg {
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.75);
  margin: 0;
  padding: 0;
}

.heading {
  margin: 0 0 0 1em;
  color: rgb(0,48,74);
}

.list {
  margin: 0 1em;
}

dt {
  color: red;
  font-weight: bold;
}

dd {
  color: rgb(0,0,99);
  font-style: oblique;
  margin: 0;
}





